# Временные файлы
*.tmp
*.temp
*.swp
*~

# Логи
*.log

# Системные файлы
.DS_Store
Thumbs.db

# Файлы конфигурации
.env
.env.*

# Директории
/tmp/
/temp/
/logs/

# Файлы установки
hst-install.sh
aapanel.sh

# Архивы
*.tar.gz
*.zip
*.rar
